{% extends 'base.html' %}

{% block content%}
   <body>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <blockquote class="layui-elem-quote">
                                实践是检验真理的唯一标准
                            </blockquote>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">推荐链接</div>
                        <div class="layui-card-body ">
                            <ul class="layui-row layui-col-space10 layui-this x-admin-carousel x-admin-backlog">
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="https://plat.wgpsec.org/"  target="_blank" class="x-admin-backlog-body">
                                        <h3>狼组安全团队</h3>
                                        <p>
                                            <cite style="font-size: medium">狼组安全平台</cite>
                                        </p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="https://wiki.wgpsec.org/"  target="_blank" class="x-admin-backlog-body">
                                        <h3>狼组安全团队</h3>
                                        <p>
                                            <cite style="font-size: medium">狼组公开知识库</cite>
                                        </p>
                                    </a>
                                </li>
                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="https://go.wgpsec.org/"  target="_blank" class="x-admin-backlog-body">
                                        <h3>狼组安全团队</h3>
                                        <p>
                                            <cite style="font-size: medium">渗透测试导航</cite>
                                        </p>
                                    </a>
                                </li>

                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="https://github.com/wgpsec/WolfAwd"  target="_blank" class="x-admin-backlog-body">
                                        <h3>狼组安全团队</h3>
                                        <p>
                                            <cite style="font-size: medium">AWD框架</cite>
                                        </p>
                                    </a>
                                </li>

                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="https://github.com/wgpsec/urlscan"  target="_blank" class="x-admin-backlog-body">
                                        <h3>狼组安全团队</h3>
                                        <p>
                                            <cite style="font-size: medium">UrlScan</cite>
                                        </p>
                                    </a>
                                </li>

                                <li class="layui-col-md2 layui-col-xs6">
                                    <a href="https://github.com/wintrysec/WebBrute"  target="_blank" class="x-admin-backlog-body">
                                        <h3>狼组安全团队</h3>
                                        <p>
                                            <cite style="font-size: medium">Web后台批量爆破</cite>
                                        </p>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">开发团队</div>
                        <div class="layui-card-body ">
                            <table class="layui-table">
                                <tbody>
                                    <tr>
                                        <th>版权所有</th>
                                        <td>
                                            <a href="https://www.wgpsec.org/" target="_blank">狼组安全团队</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>开发者</th>
                                        <td>
                                            <a href="https://wintrysec.github.io/about/" target="_blank">wintrysec</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        </div>
    </body>
{% endblock %}