version: '3'
services:
  discuz:
    image: vulhub/discuz:x3.4
    container_name: DiscuzX-3.4
    depends_on:
      - db
    ports:
      - "80"
  db:
    image: mariadb
    restart: always
    environment: 
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ultrax
